/* work sence font*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap'); 


/* header section */
.logo_section{
    width: 100%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding-left: 240px;
    display: flex;
}
.logo{
    align-items: center;
    display: flex;
    gap: 10px;
    width: 50%;
}
.logo_img{
    width: 80px;
    height: 40px;
    
}
.logo_title{
    font-size: 2.8rem;
}
.g{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ancor{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-right: 240px;
}
.ancor a{
   text-decoration: none;
   
}
.ancor_2{
    display: flex;
    width: 262px;
    height: 56px;
    justify-content: center; 
    align-items: center;
    border-radius: 8px;
 
    background-color: rgb(215, 212, 212);
    
}
.ancor_2 h4{
    font-size: 1.125rem;
    color: #66636e;
    text-align: center;
}
.ancor_2 img{
    width: 33.916px;
    height: 24px;
   
}
.ancor11{
    font-size: 1.125rem;
    color: #3C354F;
}
/* main section */
.goat_section{
   
    text-align: center;
   margin: 0 auto;
}

.h3_1{
    color: #0B0223;
   text-align: center;
   font-size: 3rem;
}
.h3_2{
   text-align: center;
   font-size: 5.8rem;
   padding-top: 0px;
   width: 700px;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.btn_section{
    display: flex;
    gap: 24px;
    text-align: center;
    padding-left: 200px;
}
.btn1{
    color: #FFFFFF;
    padding: 21px 40px;
    width: 156px;
    height: 65px;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn2{
    color: #FFFFFF;
    padding: 21px 40px;
    width: 156px;
    height: 65px;
    border-radius: 48px;
    background: #4EC5F7;
    text-align: center;
}
.goat_section p{
    color: #534C64;
text-align: center;
font-size: 1.25rem;
padding: auto 210px;
}
.goat{
    display: flex;
}
.goat_img{
    width: 100%;
    margin-right: 240px;
}
.online_games{
    height: 600px;
}
.online_games_img{
    display: flex;
   justify-content: center;
   gap: 10px;
}
.online_games_img p{
   max-width: 340px;
}
.online_games_img img{
    width: 342px;
    height: 400px;
}
.online_games_title h3{
    color: #0B0223;
    font-size: 3rem;
}
.online_games_title{
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
}
.online_games_title p{
    color: #534C64;
    font-size: 1.25rem;
    margin-top: 16px;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* mobile view */
@media screen and (max-width: 450px) {
    
    .ancor{
        flex-direction: column;
    }
    .logo_section{
       flex-direction: column;
    }
    .goat{
        flex-direction: column;
    }
    .goat_img{
        max-width: 100%;
    }
    .online_games_img{
        flex-direction: column;
    }
}